body {
  margin: 0;
  padding: 0;
  background: #00203FFF;
  color: #eee;
  font-family: "Poiret One", cursive;
  font-size: 1.5rem;
  font-weight: bolder;
}

p {
  line-height: 1.7em;
}

.sub-heading {
  margin-bottom: 30px;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-main {
    flex-grow: 1;
}



